<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button ng-if="isloggedIn" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#/">{{staticData.header.logo}}</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
      	<li ng-if="isloggedIn"><a href="#Attendance">{{staticData.header.attendance}}</a></li>
      	<li class="dropdown" ng-if="isloggedIn">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{staticData.header.leave}} <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#LeaveRequest">{{staticData.header.leaveRequest}}</a></li>
            <li><a href="#LeaveBalances">{{staticData.header.leaveBalances}}</a></li>
          </ul>
        </li>
        <li class="dropdown" ng-if="isloggedIn">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{staticData.header.myAccount}} <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#Dashboard">{{staticData.header.dashboard}}</a></li>
            <li><a href="#Profile">{{staticData.header.profile}}</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#" ng-click="logout()">{{staticData.header.logout}}</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>