<ol class="breadcrumb">
  <li><a href="#/">{{staticData.header.home}}</a></li>
  <li><a href="#Profile">{{staticData.header.profile}}</a></li>
  <li><a href="#workExperience">{{staticData.header.workExperience}}</a></li>
</ol>
<h3>Work Experience</h3>
<div class="row">
	<div class="col-md-3">
		<ng-include src="'views/side-menu.html'"></ng-include>
	</div>
	<div class="col-md-9">
		<table class="data-table">
			<thead>
				<tr>
					<th>Employer Name</th>
					<th>Start Date</th>
					<th>End Date</th>
					<th>Total Exp.</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="exp in outputExp">
					<td>{{exp.employerName}}</td>
					<td>{{exp.startDate}}</td>
					<td>{{exp.endDate}}</td>
					<td>{{exp.experience}}</td>
				</tr>
				<tr>
					<td colspan="2"></td>
					<td align="right">Total Exp :</td>
					<td>10 Years </td>
				</tr>
				<tr>
					<td><input type="text" class="exp-input" ng-model="employerName" /></td>
					<td><input type="text" class="exp-input" ng-model="startDate" /></td>
					<td><input type="text" class="exp-input" ng-model="endDate" /></td>
					<td><input type="text" class="exp-input" ng-model="exp" /></td>
				</tr>
				<tr>
					<td colspan="4" align="right"><button type="button" class="btn btn-primary" ng-click="addExperience()">Add Exp.</button></td>
				</tr>
			</tbody>
		</table>

		






	</div>
</div>