<ol class="breadcrumb">
  <li><a href="#/">{{staticData.header.home}}</a></li>
  <li><a href="#Profile">{{staticData.header.profile}}</a></li>
  <li><a href="#workExperience">{{staticData.header.workExperience}}</a></li>
</ol>

<div class="row">
	<div class="col-md-3">
		<div class="side-menu">
			<ul class="nav nav-pills nav-stacked">
				<li role="presentation"><a href="#/">{{staticData.header.home}}</a></li>
				<li role="presentation"><a href="#Profile">{{staticData.header.workExperience}}</a></li>
				<li role="presentation" class="active"><a href="#workExperience">{{staticData.header.workExperience}}</a></li>
			</ul>
		</div>
	</div>
	<div class="col-md-9">
		<h1>Work Experience</h1>
		<table class="data-table">
			<thead>
				<tr>
					<th>Employee Name</th>
					<th>Start Date</th>
					<th>End Date</th>
					<th>Total Exp.</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>HCL Technologies Ltd.</td>
					<td>01/01/2011</td>
					<td>31/12/2016</td>
					<td>5 Years</td>
				</tr>
				<tr>
					<td>HCL Technologies Ltd.</td>
					<td>01/01/2011</td>
					<td>31/12/2016</td>
					<td>5 Years</td>
				</tr>
				<tr>
					<td>HCL Technologies Ltd.</td>
					<td>01/01/2011</td>
					<td>31/12/2016</td>
					<td>5 Years</td>
				</tr>
				<tr>
					<td>HCL Technologies Ltd.</td>
					<td>01/01/2011</td>
					<td>31/12/2016</td>
					<td>5 Years</td>
				</tr>
				<tr>
					<td colspan="2"></td>
					<td align="right">Total Exp :</td>
					<td>10 Years </td>
				</tr>
				<tr>
					<td><input type="text" class="exp-input" /></td>
					<td><input type="text" class="exp-input" /></td>
					<td><input type="text" class="exp-input" /></td>
					<td><input type="text" class="exp-input" /></td>
				</tr>
				<tr>
					<td colspan="4" align="right"><button type="button" class="btn btn-primary">Add Exp.</button></td>
				</tr>
			</tbody>
		</table>

		






	</div>
</div>